.allheadings {
    animation: heading 0.5s ease-out 0.5s 1 forwards;
    /* background-color: aliceblue; */
  }
  @keyframes heading {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  .allheading {
    animation: heading2 0.5s ease-in 0.7s 1 forwards; /* background-color: aliceblue; */
  }
  @keyframes heading2 {
    0% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }
  .allhead {
    animation: head 1s ease-in  1 forwards;
  }
  @keyframes head{
    0% {
      transform: translateX(460px);
    }
    100% {
      transform: translateX(0);
    }
  }
  .allheading-bottom{
  animation: bottom 1s ease-in 0.7s infinite
  }